.center {
    width: 50%;
    margin: auto;
    text-align: center;
}

.boxSizing {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.hidden {
    visibility: hidden;
}

.visible {
    visibility: visible;
}

.hidden2 {
    display: none;
}

.visible2 {
    display:block;
}

