.center {
    width: 50%;
    margin: auto;
    text-align: center;
}

.textarea-resize-lock {
    resize: none;
}

.hidden {
    visibility: hidden;
}

.visible {
    visibility: visible;
}

.hidden2 {
    display: none;
}

.visible2 {
    display:block;
}
